/* _content/ProShop.web/Pages/AdminPanel/Product/_ProductDetails.cshtml.rz.scp.css */



[b-733iwinjqi] .Show_Images_In_Product_details {
    width: 23%; 
    
    border-radius: 18px;
}
/* _content/ProShop.web/Pages/Identity/LoginWithPhoneNumber.cshtml.rz.scp.css */
#login-register-text[b-xhvhmgknev] {
font-weight: bold;
}

#login-box[b-xhvhmgknev] {
margin-top: 9rem;
}

[b-xhvhmgknev] img#login-register-picture {
    width: 140px;
}
/* _content/ProShop.web/Pages/Identity/RegisterLogin.cshtml.rz.scp.css */
#login-register-text[b-2p4pf41uk5] {
     font-weight: bold;
 }

#login-box[b-2p4pf41uk5] {
    margin-top: 9rem;
}

[b-2p4pf41uk5] img#login-register-picture {

    width: 140px;

}
/* _content/ProShop.web/Pages/SellerPanel/Product/AddVariant.cshtml.rz.scp.css */
#all-variant-box[b-l9zynfn6xc] {
    max-height: 158px;
    overflow-y: auto;
}

[b-l9zynfn6xc] .main-image-AddVariant {
    max-width: 80%;
}
/* _content/ProShop.web/Pages/SellerPanel/Product/_ProductDetails.cshtml.rz.scp.css */



[b-uu4icqylfz] .Show_Images_In_Product_details {
    width: 23%; 
    
    border-radius: 18px;
}
/* _content/ProShop.web/Pages/Seller/CreateSeller.cshtml.rz.scp.css */
#seller-contract[b-7jw3sehyj4] {
     height: 300px;
 }
/* _content/ProShop.web/Pages/Seller/Register.cshtml.rz.scp.css */
#register-seller-right-side[b-gzr3wezsk1] {
     background: #e6e6e6;
 }

#register-seller-right-side .border-end[b-gzr3wezsk1] {
    border-left-width: 3px !important;
}

@media only screen and (min-width: 768px) {
    #register-seller-right-side[b-gzr3wezsk1] {
        height: 100vh;
    }

    .over-flow-scroll-y[b-gzr3wezsk1] {
        overflow-y: scroll;
    }
}
