/* _content/ProShop.web/Pages/AdminPanel/Category/_EditCategoryVariant.cshtml.rz.scp.css */



#Selected-variant-box[b-5wkit8f3dk], all-variant-box[b-5wkit8f3dk] {
    max-height: 158px;
    overflow-y: auto;
}
/* _content/ProShop.web/Pages/AdminPanel/Product/_ProductDetails.cshtml.rz.scp.css */



[b-733iwinjqi] .Show_Images_In_Product_details {
    width: 23%; 
    
    border-radius: 18px;
}
/* _content/ProShop.web/Pages/Carts/Index.cshtml.rz.scp.css */

/* _content/ProShop.web/Pages/Carts/Peyment.cshtml.rz.scp.css */
.circle-in-payment[b-gpzzyn6vwf] {
    width: 20px;
    height: 20px;
}
/* _content/ProShop.web/Pages/Carts/_CartBody.cshtml.rz.scp.css */
.cart-items-in-cart-page:not(:last-child)[b-1y9io5jk4a] {
    border-bottom: 1px solid #dee2e6;
}

#cart-page-title[b-1y9io5jk4a] {
    border-bottom: 1px solid #e0e0e2;
}

#cart-page-title-border[b-1y9io5jk4a] {
    height: 4px;
}
/* _content/ProShop.web/Pages/Carts/_EmptyCart.cshtml.rz.scp.css */
#cart-page-title[b-tb9g9piu5a] {
    border-bottom: 1px solid #e0e0e2;
}

#cart-page-title-border[b-tb9g9piu5a] {
    height: 4px;
}
/* _content/ProShop.web/Pages/Identity/LoginWithPhoneNumber.cshtml.rz.scp.css */
#login-register-text[b-xhvhmgknev] {
font-weight: bold;
}

#login-box[b-xhvhmgknev] {
margin-top: 9rem;
}

[b-xhvhmgknev] img#login-register-picture {
    width: 140px;
}
/* _content/ProShop.web/Pages/Identity/RegisterLogin.cshtml.rz.scp.css */
#login-register-text[b-2p4pf41uk5] {
     font-weight: bold;
 }

#login-box[b-2p4pf41uk5] {
    margin-top: 9rem;
}

[b-2p4pf41uk5] img#login-register-picture {

    width: 140px;

}
/* _content/ProShop.web/Pages/Inventory/Order/_OrderDetails.cshtml.rz.scp.css */
.circle-fill-dot-in-order-details[b-vlh9k2eis7] {
    width: 5px;
    height: 5px;
}

.order-details-progress[b-vlh9k2eis7] {
    height: 8px;
}

.parcel-post-item-in-order-details .position-relative span[b-vlh9k2eis7] {
    top: 85%;
    right: 83%;
    z-index: 1;
}

.parcel-post-item-in-order-details:not(:last-child)[b-vlh9k2eis7] {
    margin-bottom: 2rem;
}

.parcel-post-item-in-order-details:last-child hr[b-vlh9k2eis7] {
    display: none;
}
/* _content/ProShop.web/Pages/Product/Index.cshtml.rz.scp.css */

/* Show product info */

#show-product-box[b-zptyp67v38] {
    box-shadow: 0 12px 12px hsla(0, 0, 71%, .11);
    border: 1px solid #e4e4e4;
}

#buttons-next-to-gallery-box li:first-child[b-zptyp67v38] {
    font-weight: bold;
}

a[b-zptyp67v38],a:link[b-zptyp67v38] {
    color: inherit;
} 

#buttons-next-to-gallery-box button[b-zptyp67v38] {
    color: unset;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid #cacaca;
    margin: 3px 0;
}

    #buttons-next-to-gallery-box button:hover[b-zptyp67v38] {
        border: 1px solid #626766;
    }

#buttons-next-to-gallery-box i[b-zptyp67v38] {
    padding: 5px;
    font-size: 25px;
}

#product-thumbnails-box li[b-zptyp67v38] {
    width: 80px;
    height: 80px;
    background-color: #fefefe;
    border: solid 1px #e2e2e2;
}

#product-fa-title-in-show-product-info[b-zptyp67v38] {
    line-height: 2rem;
}

#product-en-title-line[b-zptyp67v38] {
    height: 1px;
}





.product-info-dots[b-zptyp67v38] {
    width: 5px;
    height: 5px;
}

#product-variants-box-in-show-product-info div:not(:first-child)[b-zptyp67v38] {
    margin-right: 5px;
}

#product-variants-box-in-show-product-info div[b-zptyp67v38] {
    width: 40px;
    height: 40px;
    border: 1px solid #d4d6d8;
}

#product-variants-box-in-show-product-info span[b-zptyp67v38] {
    background-color: red;
    width: 90%;
    height: 90%;
}

#product-variants-box-in-show-product-info i[b-zptyp67v38] {
    line-height: 0;
}

.selected-variant-in-show-product-info[b-zptyp67v38] {
    border: 6px solid #19bfd3 !important;
}



#category-guide[b-zptyp67v38] {
    line-height: 1.6rem;
}

#product-info-left-side-box[b-zptyp67v38] {
    background-color: #f7f7f7;
}
/* End show product info */
.abrnad[b-zptyp67v38] {
    color: #70d7e4 !important;
    font-size: 0.9rem;
}


/* Other sellers */

#other-sellers-bottom-line[b-zptyp67v38] {
    width: 5rem;
    height: 2px;
}

.other-sellers-table th[b-zptyp67v38], .other-sellers-table td[b-zptyp67v38] {
    padding: 0.8rem .8rem;
}

.rounded-3[b-zptyp67v38] {
    border-radius: 0.80rem;
}
/* End other sellers */
/* _content/ProShop.web/Pages/Product/_ShareProductP.cshtml.rz.scp.css */


.product-share-buttons a[b-1dy8fubdrh] {
    
    width:49%;

}
/* _content/ProShop.web/Pages/SellerPanel/Product/AddVariant.cshtml.rz.scp.css */
#all-variant-box[b-l9zynfn6xc] {
    max-height: 158px;
    overflow-y: auto;
}

[b-l9zynfn6xc] .main-image-AddVariant {
    max-width: 80%;
}
/* _content/ProShop.web/Pages/SellerPanel/Product/_ProductDetails.cshtml.rz.scp.css */



[b-uu4icqylfz] .Show_Images_In_Product_details {
    width: 23%; 
    
    border-radius: 18px;
}
/* _content/ProShop.web/Pages/Seller/CreateSeller.cshtml.rz.scp.css */
#seller-contract[b-7jw3sehyj4] {
     height: 300px;
 }
/* _content/ProShop.web/Pages/Seller/Register.cshtml.rz.scp.css */
#register-seller-right-side[b-gzr3wezsk1] {
     background: #e6e6e6;
 }

#register-seller-right-side .border-end[b-gzr3wezsk1] {
    border-left-width: 3px !important;
}

@media only screen and (min-width: 768px) {
    #register-seller-right-side[b-gzr3wezsk1] {
        height: 100vh;
    }

    .over-flow-scroll-y[b-gzr3wezsk1] {
        overflow-y: scroll;
    }
}
