@page

@model ProShop.web.Pages.Compare.IndexModel
@{
    ViewData["Title"] = "مقایسه محصولات";
   
}

<div class="container" id="Compare-page">

  

    <partial name="_CompareBody" model="@Model.ShowProductInCompare" />

</div>



@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/select2/js/i18n/fa.min.js"></script>
}

@section CustomScripts
{
    <script src="~/Pages/Compare/Index.cshtml.js"></script>
}


