.checkout-line-in-header[b-jqb7va1wl8] {
    width: 100px;
    height: 1px;
}

#cart-section-in-checkout[b-jqb7va1wl8] {
    color: #f3a3a3;
}

.color-element-in-checkout[b-jqb7va1wl8] {
    width: 14px;
    height: 14px;
}

.shipping-item-in-checkout span[b-jqb7va1wl8] {
    top: 85%;
    right: 83%;
    z-index: 1;
}

#shipping-dropdown .dropdown-menu[b-jqb7va1wl8] {
    width: 300px !important;
}
