<div id="sidebar" class="col-6 col-sm-4 col-lg-2 bg-dark collapse show position-fixed">
    <ul class="nav d-flex flex-column">
        <li class="nav-item">
            <a href="#sub-menu1" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-bar-chart-fill"></i>
                    دسته بندی ها
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu1">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/AdminPanel/Category/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                             دسته بندی ها
                        </a>
                        <a asp-page="/AdminPanel/Feature/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                             ویژگی دسته بندی ها
                        </a> 
                        
                        <a asp-page="/AdminPanel/FeatureConstantValue/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            مقادیر ثابت ویژگی ها
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a href="#sub-menu2" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-bar-chart-fill"></i>
                    فروشندگان
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu2">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/AdminPanel/Seller/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            نمایش فروشندگان
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a href="#sub-menu3" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-bar-chart-fill"></i>
                    برند ها
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu3">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/AdminPanel/Brand/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            نمایش برند ها
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a href="#sub-menu5" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-bar-chart-fill"></i>
                    تنوع های دسته بندی
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu5">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/AdminPanel/Variant/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            تنوع های دسته بندی
                        </a>
                    </li>
                </ul>
            </div>
        </li>
          <li class="nav-item">
            <a href="#sub-menu6" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-bar-chart-fill"></i>
                    مدیریت گارانتی ها
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu6">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/AdminPanel/Garantee/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            نمایش گارانتی ها
                        </a>
                    </li>
                </ul>
            </div>
        </li>


        <li class="nav-item">
            <a href="#sub-menu4" class="d-flex justify-content-between collapsed nav-link"
               data-bs-toggle="collapse">
                <div>
                    <i class="bi bi-cart4"></i>
                   محصولات
                </div>
                <i class="bi bi-chevron-left"></i>
            </a>
            <div class="collapse bg-secondary rounded" id="sub-menu4">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/AdminPanel/Product/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                            نمایش محصولات
                        </a>
                    </li>
                </ul>
            </div>
            <div class="collapse bg-secondary rounded" id="sub-menu4">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-page="/AdminPanel/ProductShortLink/Index" class="nav-link">
                            <i class="bi bi-bar-chart-fill"></i>
                           اینک کوتاه محصولات
                        </a>
                    </li>
                </ul>
            </div>
        </li>

    </ul>
</div>