

@font-face {
    font-family: 'Vazir';
    src: url('/fonts/Vazir.eot');
    src: url('/fonts/Vazir.eot?#iefix') format('embedded-opentype'), url('/fonts/Vazir.woff2') format('woff2'), url('/fonts/Vazir.woff') format('woff'), url('/fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('/fonts/Vazir-Bold.eot');
    src: url('/fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Vazir-Bold.woff2') format('woff2'), url('/fonts/Vazir-Bold.woff') format('woff'), url('/fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Vazir';
    src: url('/fonts/Vazir-Light.eot');
    src: url('/fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/Vazir-Light.woff2') format('woff2'), url('/fonts/Vazir-Light.woff') format('woff'), url('/fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Vazir';
    src: url('/fonts/Vazir-Medium.eot');
    src: url('/fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'), url('/fonts/Vazir-Medium.woff2') format('woff2'), url('/fonts/Vazir-Medium.woff') format('woff'), url('/fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Vazir';
    src: url('/fonts/Vazir-Thin.eot');
    src: url('/fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'), url('/fonts/Vazir-Thin.woff2') format('woff2'), url('/fonts/Vazir-Thin.woff') format('woff'), url('/fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Vazir';
    src: url('/fonts/Vazir-Black.eot');
    src: url('/fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'), url('/fonts/Vazir-Black.woff2') format('woff2'), url('/fonts/Vazir-Black.woff') format('woff'), url('/fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
}





* {
    font-family: "Vazir", tahoma;
}

body {
    background-color: #fefefe;
}

.custom-box-shadow {
    box-shadow: 0px 2px 12px 1px rgb(0 0 0 / .47);
}

a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

.pointer-cursor {
    cursor: pointer;
}

.not-allowed-cursor {
    cursor: not-allowed;
}

.rem1and3 {
    font-size: 1.3rem;
}

.rem0and75 {
    font-size: 0.75rem;
}

.rem0and9 {
    font-size: 0.9rem;
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top:10px
}

.span-error-message {
    color: #df0202;
    padding: 0 5px;
    display: block;
    margin-top: 5px;
    font-size: .9rem;
}

.zoom:hover {
    transform: scale(1.89); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

span.select2-dropdown.select2-dropdown--below {
    left: 0px;
}

.max-width-200 {
    width: 117px;
    height: 110px;
}

.max-width-Icon {
    width: 52px;
    height: 46px;
}

.rtl-direction {
    direction: rtl;
}

.ui-autocomplete {
    z-index: 5000;
}

.border-bottom-dashed {
    border-bottom: 2px dashed #0DCAF0;
}

.img-Activation-Sellary {
    height: 213px;
    width: 330px;
    border-radius: 8px;
}

.custom-overflow-y {
    overflow-y: scroll;
}

.cardidSize {
    width: 382px;
    height: 235px;
    border:;
    border-radius: 12px;
}

.cardidSizeInPanel {
    width: 235px;
    height: 382px;
    border:;
    border-radius: 12px;
}

#selected-brands-box {
    overflow-y: auto;
    min-height: 46px;
    max-height: 184px;
}

.Images_preview {
    width: 95%;
    border-radius: 18px;
}

    .Images_preview:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        width: 300px;
        height: 300px;
    }

.content_img {
    position: relative;
}

    .content_img div {
        position: absolute;
        bottom: 0;
        right: 0;
        background: red;
        color: white;
        margin-bottom: 5px;
        font-family: sans-serif;
        opacity: 0;
        visibility: hidden;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
        -webkit-transition: visibility 0s, opacity 0.5s linear;
        transition: visibility 0s, opacity 0.5s linear;
    }

    .content_img:hover {
        cursor: pointer;
    }

        .content_img:hover div {
            width: 150px;
            padding: 8px 15px;
            visibility: visible;
            opacity: 0.7;
        }


.button-78 {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 13px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
}

@media (min-width: 768px) {
    .button-78 {
        padding: 15px 14px;
    }
}

.button-78:before,
.button-78:after {
    border-radius: 80px;
}

.button-78:before {
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.button-78:after {
    background-color: initial;
    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}

.button-78:hover:not(:disabled):before {
    background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.button-78:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
}

.button-78:active:not(:disabled) {
    color: #ccc;
}

    .button-78:active:not(:disabled):before {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    }

    .button-78:active:not(:disabled):after {
        background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
        bottom: 4px;
        left: 4px;
        right: 4px;
        top: 4px;
    }

.button-78:disabled {
    cursor: default;
    opacity: .24;
}

.float-inline-start {
    float: inline-start;
}

.button-37 {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-37:hover {
        box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
        transform: translateY(-2px);
    }

@media (min-width: 768px) {
    .button-37 {
        padding: 10px 30px;
    }
}



/* CSS */
.button-72 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
    border-radius: 42px;
    border-width: 0;
    box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .04em;
    line-height: 16px;
    margin: 2px;
    padding: 15px 14px;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    display: inline-block;
}

    .button-72:hover {
        background-image: linear-gradient(#B384C9, #391F5B 50%);
        color: burlywood;
    }

@media (min-width: 768px) {
    .button-72 {
        font-size: 13px;
        padding: 15px 14px;
    }
}





.button-32 {
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 2px;
    display: inline;
}

    .button-32:not(:disabled):hover,
    .button-32:not(:disabled):focus {
        outline: 0;
        background: blueviolet;
        box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
    }

    .button-32:disabled {
        filter: saturate(0.2) opacity(0.5);
        -webkit-filter: saturate(0.2) opacity(0.5);
        cursor: not-allowed;
    }





.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 13px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 2px;
}

    .button-33:hover {
        box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
        transform: scale(1.05) rotate(-1deg);
    }



.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

    .button-29:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }

    .button-29:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .button-29:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
    }





.button7 {
    padding: 8px 27px;
    border: 1px solid #F3F3F3;
    -moz-box-shadow: 0 0 0 1px #707070;
    -webkit-box-shadow: 0 0 0 1px #707070;
    box-shadow: 0 0 0 1px #707070;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 18px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#bcd7f8), color-stop(0.5,#96baed),color-stop(0.51,#89aee2),color-stop(1,#799bca));
    font-size: 14px;
    margin-bottom:8px;
    color: black;
    text-decoration: none;
}

    .button7:hover {
        border: 1px solid #ECF7FD;
        -moz-box-shadow: 0 0 0 1px #3C7FB1;
        -webkit-box-shadow: 0 0 0 1px #3C7FB1;
        box-shadow: 0 0 0 1px #3C7FB1;
        color: snow;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#fcce9e), color-stop(0.5,#fab16a),color-stop(0.51,#f8952c),color-stop(1,#ffcc2d));
    }

.buttonDetails {
    padding: 8px 27px;
    border: 1px solid #F3F3F3;
    -moz-box-shadow: 0 0 0 1px #707070;
    -webkit-box-shadow: 0 0 0 1px #707070;
    box-shadow: 0 0 0 1px #707070;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 18px;
    background-image: linear-gradient(to right top, #8ed3e5, #8bd5df, #8cd7d9, #8fd9d1, #95dac8);
    font-size: 14px;
    margin-bottom: 8px;
    color: black;
    text-decoration: none;
}

    .buttonDetails:hover {
        border: 1px solid #ECF7FD;
        -moz-box-shadow: 0 0 0 1px #3C7FB1;
        -webkit-box-shadow: 0 0 0 1px #3C7FB1;
        box-shadow: 0 0 0 1px #3C7FB1;
        color: snow;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#fcce9e), color-stop(0.5,#fab16a),color-stop(0.51,#f8952c),color-stop(1,#ffcc2d));
    }




/* 21px */
.rem21px {
    font-size: 1.313rem;
}

/* 20px */
.rem20px {
    font-size: 1.25rem;
}

/* 19px */
.rem19px {
    font-size: 1.188rem;
}

/* 18px */
.rem18px {
    font-size: 1.125rem;
}

/* 17px */
.rem17px {
    font-size: 1.063rem;
}

/* 16px */
.rem16px {
    font-size: 1rem;
}

/* 15px */
.rem15px {
    font-size: .938rem;
}

/* 14px */
.rem14px {
    font-size: .875rem;
}

/* 13px */
.rem13px {
    font-size: .813rem;
}

/* 12px */
.rem12px {
    font-size: 0.75rem;
}

/* 11px */
.rem11px {
    font-size: 0.688rem;
}

.ul-Drop-Down {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate3d(2px, 50px, 0px);
    width: 100%;
    border: 1px solid #ffc200;
    border-radius: 9px;
    padding: 15px;
    background-color: #d7d7d9;
}

.btn-Drop-Down {
    width: 100%;
    padding: 8px;
    color: white;
    background: #513c6e;
    border: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

    .btn-Drop-Down:hover {
        background-color: aliceblue;
    }


.disable-selecting {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bg-custom-grey {
    background: #c0c2c5;
}
.text-custom-grey {
    color: #c0c2c5;
}
