

@font-face {
    font-family: Vazir;
    src: url('/fonts/Vazir.eot');
    src: url('/fonts/Vazir.eot?#iefix') format('embedded-opentype'), url('/fonts/Vazir.woff2') format('woff2'), url('/fonts/Vazir.woff') format('woff'), url('/fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('/fonts/Vazir-Bold.eot');
    src: url('/fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Vazir-Bold.woff2') format('woff2'), url('/fonts/Vazir-Bold.woff') format('woff'), url('/fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('/fonts/Vazir-Light.eot');
    src: url('/fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/Vazir-Light.woff2') format('woff2'), url('/fonts/Vazir-Light.woff') format('woff'), url('/fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Vazir;
    src: url('/fonts/Vazir-Medium.eot');
    src: url('/fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'), url('/fonts/Vazir-Medium.woff2') format('woff2'), url('/fonts/Vazir-Medium.woff') format('woff'), url('/fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: Vazir;
    src: url('/fonts/Vazir-Thin.eot');
    src: url('/fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'), url('/fonts/Vazir-Thin.woff2') format('woff2'), url('/fonts/Vazir-Thin.woff') format('woff'), url('/fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: Vazir;
    src: url('/fonts/Vazir-Black.eot');
    src: url('/fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'), url('/fonts/Vazir-Black.woff2') format('woff2'), url('/fonts/Vazir-Black.woff') format('woff'), url('/fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
}





* {
    font-family: "Vazir", tahoma;
}

body {
    background-color: #f5f5f5;
}

.custom-box-shadow{
    box-shadow: 0px 2px 12px 1px rgb(0 0 0 / .47);
}

a{
    text-decoration: none;
}
.pointer-cursor {
    cursor: pointer;
}
.not-allowed-cursor{
    cursor: not-allowed;
}

.rem1and3{
    font-size: 1.3rem;
}

.rem0and75{
    font-size: 0.75rem;
}

.rem0and9{
    font-size: 0.9rem;
}

.span-error-message {
    color: #df0202;
    padding: 0 5px;
    display: block;
    margin-top: 5px;
    font-size: .9rem;
}

.zoom:hover {
    transform: scale(1.89); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

span.select2-dropdown.select2-dropdown--below {
    left: 0px;
}

.max-width-200 {
    width: 117px;
    height: 110px;
}
.max-width-Icon {
    width: 52px;
    height: 46px;
}
.rtl-direction {
    direction: rtl;
}

.ui-autocomplete {
    z-index: 5000;
}

.border-bottom-dashed {
    border-bottom: 2px dashed #0DCAF0;
}

.img-Activation-Sellary {
    height: 213px;
    width: 330px;
    border-radius: 8px;
}
.custom-overflow-y {
    overflow-y: scroll;
}

.cardidSize {
    width: 382px;
    height: 235px;
    border:;
    border-radius: 12px;
}

.cardidSizeInPanel {
    width:235px;
    height:382px;
    border:;
    border-radius: 12px;
}

#selected-brands-box {
    overflow-y: auto;
    min-height: 46px;
    max-height: 184px;
}

.Images_preview {
    width: 95%;
    border-radius: 18px;
}

    .Images_preview:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        width: 300px;
        height: 300px;
    }

.content_img {
    position: relative;
}
    .content_img div {
        position: absolute;
        bottom: 0;
        right: 0;
        background: red;
        color: white;
        margin-bottom: 5px;
        font-family: sans-serif;
        opacity: 0;
        visibility: hidden;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
        -webkit-transition: visibility 0s, opacity 0.5s linear;
        transition: visibility 0s, opacity 0.5s linear;
    }
.content_img:hover {
    cursor: pointer;
}

.content_img:hover div {
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7;
}
