.buyer-backgournd-color-in-single-page-of-product[b-orqhkw0dru] {
    background-color: #dedede;
}

.comment-variant-color-in-single-page-of-product[b-orqhkw0dru] {
    width: 17px;
    height: 17px;
}
