@page
@model ProShop.web.Pages.IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}



<br />
<a asp-page="/AdminPanel/Index">ادمین</a>
<br />
<a asp-page="/Seller/Login">لاگین</a>
<br />
<a asp-page="/Seller/Register">ثبت نام</a>
<br />
<a asp-page="/SellerPanel/Index">پنل فزوسنئه</a>
<br />
<a asp-page="/Inventory/Index">پنل انبار دار</a>
<br />
<a asp-page="/Product/Index" asp-route-productCode="1" asp-route-slug="قثبثق">محصول تکی</a>
